version: '2.1'
services:
- name: etcd-proxy
  endpoints:
  - name: ETCD_PROXY_ENDPOINTS
    protocol: http
    port: 2379
  health:
    name: etcd-proxy
    model: cmd
    address: ((`ETCDCTL_API=3 etcdctl --endpoints=http://127.0.0.1:2379 endpoint health | grep " health" | wc -l` ==1))
    time_interval: 5
  after:
    - docker
  type: simple
  pre_start: docker rm etcd
  start: ETCD_MASTER={{  etcd_access_addresses }} {{ rbd_dir }}/scripts/start-etcd-proxy.sh
  stop: docker stop etcd
  restart_policy: always
  restart_sec: 10