version: '2.1'
services:
- name: kubelet
  endpoints:
  - name: KUBELET_ENDPOINTS
    protocol: http
    port: 10248
  health:
    name: kubelet
    model: tcp
    address: 127.0.0.1:10248
    max_errors_num: 3
    time_interval: 5
  after:
    - docker
  type: simple
  start: NODE_UUID=${NODE_UUID} {{ rbd_dir }}/scripts/kubelet.sh
  restart_policy: always
  restart_sec: 10