[all]
node1 ansible_host=10.10.10.13 ip=10.10.10.13 ansible_user=root ansible_ssh_pass=12345678 ansible_become=true

[deploy]
node1 NTP_ENABLED=no

[etcd]
node1 NODE_NAME=etcd1

[master]
node1

[worker]

[storage]
node1

[lb]
node1

[new-master]

[new-worker]