{
  "insecure-registries": ["{{INSECURE_REG}}"],
  "bip": "{{ BIP }}",
  "hosts": ["{{DOCKER_HOST_TCP}}","{{DOCKER_HOST_SOCK}}"],
  "userland-proxy": false,
  "max-concurrent-downloads": 10,
  "log-driver": "{{ LOG_DRIVER }}",
  "log-level": "{{ LOG_LEVEL }}",
  "log-opts": {
    "max-size": "{{ LOG_MAX_SIZE }}",
    "max-file": "{{ LOG_MAX_FILE }}"
    }
}
