version: '2.1'
services:
- name: docker
  endpoints:
  - name: DOCKER_ENDPOINTS
    protocol: http
    port: 2376
  health:
    name: docker
    model: http
    address: 127.0.0.1:2376/version
    max_errors_num: 3
    time_interval: 5
  after:
    - network.target
  requires:
    - network.target
  only_health_check: true
  start: none
  restart_policy: always
  restart_sec: 10
- name: storage
  health:
    name: storage
    model: cmd
    address: {{ rbd_dir }}/health/storage.sh
    max_errors_num: 3
    time_interval: 5
  after:
    - network.target
  requires:
    - network.target
  only_health_check: true
  disable: false
  is_init_start: true
  type: notify
  start: none
  restart_policy: always
  restart_sec: 10
- name: local-dns
  health:
    name: local-dns
    model: cmd
    address: {{ rbd_dir }}/health/local-dns.sh
    max_errors_num: 3
    time_interval: 5
  after:
    - network.target
  requires:
    - network.target
  only_health_check: true
  disable: false
  is_init_start: true
  type: notify
  start: none
  restart_policy: always
  restart_sec: 10
- name: {{ CLUSTER_NETWORK }}
  health:
    name: {{ CLUSTER_NETWORK }}
    model: cmd
    address: {{ rbd_dir }}/health/network.sh
    max_errors_num: 3
    time_interval: 5
  after:
    - network.target
  requires:
    - network.target
  only_health_check: true
  disable: false
  is_init_start: true
  type: notify
  start: none
  restart_policy: always
  restart_sec: 10