version: '2.1'
services:
- name: docker
  endpoints:
  - name: DOCKER_ENDPOINTS
    protocol: http
    port: 2376
  health:
    name: docker
    model: cmd
    address: {{ rbd_dir }}/health/check_docker.sh
    max_errors_num: 5
    time_interval: 10
  after:
    - network.target
  requires:
    - network.target
  only_health_check: true
  start: none
  restart_policy: always
  restart_sec: 10