version: '2.1'
services:
- name: docker
  endpoints:
  health:
    name: docker
    model: cmd
    address: {{ rbd_dir }}/health/check_docker.sh
    max_errors_num: 5
    time_interval: 10
  after:
    - network.target
  requires:
    - network.target
  only_health_check: true
  start: none
  restart_policy: always
  restart_sec: 10
- name: nfs_server
  endpoints:
  health:
    name: nfs_server
    model: cmd
    address: {{ rbd_dir }}/health/check_nfs.sh
    max_errors_num: 5
    time_interval: 10
  after:
    - network.target
  requires:
    - network.target
  only_health_check: true
  start: none
  restart_policy: always
  restart_sec: 10