[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/local/bin/flanneld -etcd-endpoints={{ ETCD_ENDPOINTS}} -etcd-prefix={{ FLANNEL_ETCD_PREFIX }}
ExecStartPost={{ env_dir }}/mk-docker-opts.sh -k DOCKER_NETWORK_OPTIONS -d /run/flannel/docker
Restart=on-failure

[Install]
WantedBy=multi-user.target
RequiredBy=docker.service