region_api:
  endpoints:
    - https://region.goodrain.me:8443
  client-ca-file: {{ region_ca_dir }}/ca.pem
  tls-cert-file:  {{ region_ca_dir }}/client.pem
  tls-private-key-file: {{ region_ca_dir }}/client.key.pem