#!/usr/bin/env bash

# Copyright 2019 The Goodrain Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

LOCAL_DNS="{{ nodeip }}"
MASTER_DNS="{{ master_ip }}"
DEFALUT_DNS="{{ default_dns_local }}"
VIP_DNS=`cat /opt/rainbond/.init/domain.yaml | grep vip | awk -F ': ' '{print $2}'`

grep $LOCAL_DNS /etc/resolv.conf >/dev/null 2>&1
if [ "$?" -eq 0 ];then
    exit 0
else
    if [ ! $VIP_DNS ];then
    cat > /etc/resolv.conf <<EOF
nameserver $LOCAL_DNS
nameserver $MASTER_DNS
nameserver $DEFALUT_DNS
EOF
    exit 1
    else
     cat > /etc/resolv.conf <<EOF
nameserver $LOCAL_DNS
nameserver $VIP_DNS
nameserver $DEFALUT_DNS
EOF
    exit 1
    fi
fi