#!/bin/bash

nodeip={{ nodeip }}

[ ! -f "/tmp/node.uuid" ] && exit 0

cat /tmp/node.uuid | grep $nodeip

[ "$?" -ne 0 ] && exit 0

uuid=$(cat /tmp/node.uuid | grep $nodeip | awk -F: '{print $2}')

[ -f "/opt/rainbond/etc/node/node_host_uuid.conf" ] && rm -rf /opt/rainbond/etc/node/node_host_uuid.conf
[ ! -z "$uuid" ] && echo "host_uuid=$uuid" > /opt/rainbond/etc/node/node_host_uuid.conf