version: '2.1'
services:
- name: kube-apiserver
  disable: false
  endpoints:
  - name: APISERVER_ENDPOINTS
    protocol: 
    port: 6443
  health:
    name: kube-apiserver
    model: http
    address: http://127.0.0.1:8080/version
    time_interval: 5
    max_errors_num: 3

- name: kube-scheduler
  health:
    name: kube-scheduler
    model: tcp
    address: 127.0.0.1:10259
    max_errors_num: 3
    time_interval: 5

- name: kube-controller-manager
  endpoints:
  - name: CONTROLLER_MANAGER_ENDPOINTS
    protocol:
    port: 10257
  health:
    name: kube-controller-manager
    model: tcp
    address: 127.0.0.1:10257
    time_interval: 5
    max_errors_num: 3