CREATE TABLE `tenant_service_config` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `service_id` varchar(32),
  `volume_id` int(11) null,
  `file_content` TEXT,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8;

ALTER TABLE service_event MODIFY `message` TEXT;
alter table service_group modify column group_name varchar(128);
