#!/bin/bash

if [ ! -f "/opt/rainbond/conf/monitor.yaml" ];then

sed -i -e '/rbd-monitor:/a\    --kube-state-metrics={{ nodeip }}:9105 --mysqld-exporter={{ nodeip }}:9104' /opt/rainbond/conf/monitor.yaml

fi

if [ ! -f "/opt/rainbond/conf/k8s-master.yaml" ];then

sed -i -e  '/kube-apiserver:/a\    --enable-aggregator-routing=true'  /opt/rainbond/conf/k8s-master.yaml

fi