#!/bin/bash

version={{ r6d_version }}
rainbond=(rbd-worker rbd-chaos rbd-api rbd-app-ui rbd-webcli rbd-mq rbd-monitor rbd-eventlog rbd-gateway)

upgrade_rainbond(){
    for rbdimg in ${rainbond[@]}
    do
        docker pull goodrain.me/${rbdimg}:${version}
        systemctl restart ${rbdimg}
    done
}

upgrade_db(){
    docker cp /tmp/5.0.3.sql rbd-db:/root/5.0.3.sql
    docker exec rbd-db mysql -e "use console;source /root/5.0.3.sql;"
}

upgrade_dns(){
    docker pull goodrain.me/rbd-dns:5.0
    systemctl restart rbd-dns
}

case $1 in
    *)
        dps | grep rbd-api > /dev/null  && upgrade_rainbond || echo ""
        dps | grep rbd-db > /dev/null && upgrade_db || echo ""
        dps | grep rbd-dns > /dev/null && upgrade_dns || echo ""
    ;;
esac