version: '2.1'
services:
- name: rbd-gateway
  health:
    name: rbd-gateway
    model: http
    address: 127.0.0.1:10253/healthz
    time_interval: 5
  after:
    - docker
  type: simple
  pre_start: docker rm -f rbd-gateway
  start: >-
    docker run --name rbd-gateway
    --network host
    -v {{ rbd_dir }}/etc/kubernetes/kubecfg:/opt/rainbond/etc/kubernetes/kubecfg
    -v {{ rbd_dir }}/etc/rbd-gateway/cert:/run/nginx/cert
    -v {{ rbd_dir }}/etc/rbd-gateway/default:/run/nginx/default
    -v {{ rbd_dir }}/etc/rbd-gateway/lua-resty-balancer:/run/nginxtmp/lua/lua-resty-balancer
    -e DEFAULT_PORT=80
    -i goodrain.me/{{ gateway }}
    --log-level=debug
    --error-log=/dev/stderr error
  stop: docker stop rbd-gateway
  restart_policy: always
  restart_sec: 10