#!/bin/bash

set -x

prepare(){
    # IP={{ lbip }}
    IP=$(cat /opt/rainbond/.init/domain.yaml | grep iip | awk -F ': ' '{print $2}')
    ssl_ca_cert=$(cat {{ region_ca_dir }}/ca.pem)
    key_file=$(cat {{ region_ca_dir }}/client.key.pem)
    cert_file=$(cat {{ region_ca_dir }}/client.pem)
    DOMAIN={{ app_domain }}
    cat > /tmp/region_info.sql <<EOF
INSERT INTO \`region_info\` ( \`region_id\`, \`region_name\`, \`region_alias\`, \`url\`, \`token\`, \`status\`, \`desc\`, \`wsurl\`, \`httpdomain\`, \`tcpdomain\`, \`scope\`, \`ssl_ca_cert\`,\`cert_file\`,\`key_file\`) VALUES('asdasdasdasdasdasdasdasdas', 'rainbond', '默认私有数据中心', 'https://region.goodrain.me:8443', NULL, '1', '当前数据中心是默认安装添加的数据中心', 'ws://$IP:6060', '$DOMAIN', '$IP', 'private','$ssl_ca_cert','$cert_file','$key_file');
EOF

}

create_db(){
    docker exec rbd-db mysql -e "grant all on *.* to '{{ db_user }}'@'%' identified by '{{ db_pass }}' with grant option; flush privileges";docker exec rbd-db mysql -e "delete from mysql.user where user=''; flush privileges"
    docker exec rbd-db mysql -e "CREATE DATABASE IF NOT EXISTS region DEFAULT CHARSET utf8 COLLATE utf8_general_ci;"
    docker exec rbd-db mysql -e "CREATE DATABASE IF NOT EXISTS console DEFAULT CHARSET utf8 COLLATE utf8_general_ci;"
}

init(){
for ((i=1;i<=6;i++))
do
    docker exec rbd-db mysql -e "show databases;"
    status=$?
    [ "$status" -eq 0 ] && (
        create_db
        for ((i=1;i<=60;i++ ));do
            sleep 5
            uiready=$(docker ps | grep app-ui)
            [ ! -z "$uiready" ] && break
        done
        [ ! -f "/opt/rainbond/.init/.ui.init" ] && (
            prepare
            docker exec rbd-app-ui python /app/ui/manage.py migrate
            [ "$?" -eq 0 ] && touch /opt/rainbond/.init/.ui.init || docker exec rbd-db mysql -e "drop database if exists console;"
        )
        [ -f "/opt/rainbond/.init/.ui.init" ] && (
            docker cp /tmp/init.sql rbd-db:/root
            docker exec rbd-db mysql -e "use console;truncate table console_sys_config"
            docker exec rbd-db mysql -e "use console;source /root/init.sql;"
            check=$(docker exec rbd-db mysql -e "select wsurl from console.region_info where region_id='asdasdasdasdasdasdasdasdas';")
            if [ -z "$check" ];then
                docker cp /tmp/region_info.sql rbd-db:/root
                docker exec rbd-db mysql -e "use console;source /root/region_info.sql;"
            fi
        )
    ) && break
    [ "$status" -ne 0 ] && (
        systemctl stop rbd-db && rm -rf /opt/rainbond/data/rbd-db
	    sleep 20
    )
done

}

check(){
    local check_status=1
    for ((i=1;i<=6;i++))
    do
        sleep 20
        check=$(docker exec rbd-db mysql -e "select wsurl from console.region_info where region_id='asdasdasdasdasdasdasdasdas';")
        if [ ! -z "$check" ];then
            check_status=0
            break
        fi
    done
    exit $check_status
}

case $1 in
    check)
        check
    ;;
    *)
        init
    ;;
esac