[Unit]
Description=Goodrain Rainbond node
After=network.target

[Service]
Type=simple
User=root
LimitCORE=infinity
LimitNOFILE=102400
LimitNPROC=102400
PermissionsStartOnly=true
ExecStartPre=-/bin/bash -c 'docker rm etcd'
ExecStart={{ rbd_dir }}/scripts/start-etcd.sh
ExecStop=/bin/bash -c 'docker stop etcd'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target