version: '2.1'
services:
- name: etcd
  endpoints:
  - name: ETCD_ENDPOINTS
    protocol: http
    port: {{ etcd_port_c1 }}
    health:
    name: etcd
    model: tcp
    address: {{ etcd_server }}:{{ etcd_port_c1 }}
    time_interval: 5
    max_errors_num: 3