/opt/rainbond/etc/tools *(rw,sync,no_root_squash,no_subtree_check)
/opt/rainbond/.init *(rw,sync,no_root_squash,no_subtree_check)
/opt/rainbond/rainbond-ansible *(rw,sync,no_root_squash,no_subtree_check)