# rbd-db main configuration file.

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
user=mysql
datadir=/data/mysql
socket=/var/lib/mysql/mysql.sock
sql-mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

#log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

skip-name-resolve
bind-address = 0.0.0.0
max_connections=2000
max_connect_errors=1000
key_buffer_size= 3840M
max_allowed_packet = 16M
sort_buffer_size = 32M
read_buffer_size = 32M
read_rnd_buffer_size = 32M
query_cache_size = 256M

# logbin
gtid_mode=ON
server-id=2
sync-binlog=1
auto_increment_offset = 1
auto_increment_increment = 2
enforce_gtid_consistency = on
log-slave-updates=ON
slave-skip-errors=all
log_bin=/data/mysql/logbin
log_bin_index=/data/mysql/logbin.index
log_timestamps = SYSTEM

#sync_binlog=1
max_binlog_size=1G
expire_logs_days=30

# * InnoDB
default_storage_engine=InnoDB
innodb_buffer_pool_size=256M
innodb_log_buffer_size=16M
innodb_file_per_table=1
innodb_open_files=800
innodb_io_capacity=400
innodb_flush_method=O_DIRECT
innodb_log_file_size=128M

character-set-server = utf8
collation-server     = utf8_general_ci
character_set_server = utf8
collation_server     = utf8_general_ci

[client]
default-character-set= utf8

[mysqldump]
quick
quote-names
max_allowed_packet= 16M