# rbd-db main configuration file.

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
user=mysql
datadir=/data/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

#log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

bind-address = 0.0.0.0
max_connections=3000
max_connect_errors=2000
connect_timeout=10
wait_timeout=7200
interactive_timeout=7200
skip-name-resolve
max_allowed_packet=128M
thread_cache_size=128
sort_buffer_size=4M
bulk_insert_buffer_size=16M
tmp_table_size=32M
max_heap_table_size=32M
query_cache_size=40M

# logbin
gtid_mode=ON
enforce_gtid_consistency=true
server-id=2
binlog_format=row
log_bin=/data/mysql/logbin
log_bin_index=/data/mysql/logbin.index
log_timestamps = SYSTEM
#sync_binlog=1
max_binlog_size=500M
expire_logs_days=30

# * InnoDB
default_storage_engine=InnoDB
innodb_buffer_pool_size=256M
innodb_log_buffer_size=16M
innodb_file_per_table=1
innodb_open_files=800
innodb_io_capacity=400
innodb_flush_method=O_DIRECT
binlog_format=row
innodb_log_file_size=128M

character-set-server = utf8
collation-server     = utf8_general_ci
character_set_server = utf8
collation_server     = utf8_general_ci

[client]
default-character-set= utf8

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M